* {
  margin: 0;
}

body {
  background-color: var(--cor_fundo);
  display: flex;
  flex-direction: column;
  background-color: black;
  /*faz com que fique em gradiente*/
}

:root {
  --cor_fundo: black;
  --cor_letra: white;
  --cor_fundo_site: white;
  --cor_animação: gray;
  --cor_borda: black;
  --cor_letra_botao: black;
  --cor_header: #ba0000;
  --cor_border_jogos: white;
  --cor-header: rgb(60, 5, 5);
  --cor-header2: rgb(87, 9, 9);
  --cor-footer: rgb(60, 5, 5);
  --cor-texto: white;
  --cor_fundo: black;
  --cor_letra: white;
  --cor_fundo_site: white;
  --cor_animação: gray;
  --cor_borda: black;
  --cor_letra_botao: black;
  --cor_header: #ba0000;
  --cor_border_jogos: white;
}

.header {
  display: flex;
  background-color: var(--cor_header);
  width: 100;
  height: 130px;
  background-color: var(--cor-header);
  width: 100;
  height: 80px;
  color: var(--cor-texto);
  padding: 30px 45px 30px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-right: 10px;
}

.div1header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div2header {
  display: flex;
  flex-direction: row;
}

.rg {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  text-decoration: none;
  color: var(--cor-texto);
  display: flex;
  flex-direction: row;
  transition: color 0.3s ease-in;
  transition: color 0.3s ease-out;
}

.rg:hover {
  color: rgb(216, 203, 203);
}

.botoesheader1 {
  text-decoration: none;
  color: var(--cor-texto);
  font-family: Arial, Helvetica, sans-serif;
  border: 2px rgb(168, 2, 2) solid;
  border-radius: 5px;
  background-color: rgb(168, 2, 2);
  padding: 5px 5px;
}

.header2 {
  background-color: var(--cor-header2);
  width: 100;
  height: 35px;
  justify-items: center;
  padding: 15px 0px 15px 0px;
  align-content: center;
}

.he2escritas {
  text-decoration: none;
  color: var(--cor-texto);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-right: 20px;
  padding-left: 20px;
  transition: color 0.3s ease-in;
  transition: color 0.3 ease-out;
  transition: font-size 0.3 ease-in;
  transition: font-size 0.3 ease-out;
}

.he2escritas:hover {
  color: rgb(190, 178, 178);
  font-size: 18px;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------n sei---------------------------*/
.jogos {
  background-color: rgb(57, 57, 57);
  height: 605px;
  width: 500px;
}

.biblioteca {
  margin-top: 0px;
  background-color: rgb(151, 0, 0);
  height: 90px;
  width: 100%;
}

.add {
  display: flex;
  gap: 280px;
}
/*------------------------------------------------------------------*/
h1 {/*CADASTRAR*/
  color: var(--cor_letra);
  text-align: center;
  font-size: 65px;
  margin-top: 35px;
}

h2 {/*USUARIO E SENHA*/
  color: var(--cor_letra);
  font-size: 35px;
  margin-top: 18px;
}

h3 {
  color: var(--cor_letra);
}

.entrar { /*quadrado de cadastrar*/
  justify-self: center;
  margin-top: 1%;
  text-align: center;
  background-color: rgb(57, 0, 0);
  width: 400px;
  margin-bottom: 20px;
  height: 405px;
}

.suasenha {/*separa o botao de entrar e a barra de colocar a senha*/
  margin-bottom: 50px;
}

.Cadastrar {/*botao de entrar*/
  color: var(--cor_letra);
  color: black;
  font-size: 25px;
  background-color: white;
  padding: 5px;
  text-decoration: none;
}

input {/*barras*/
  height: 20px;
}

@media(max-width: 600px) {
  .he2escritas {
    font-size: 4vw;
  }

  .rg {
    font-size: 7vw;
  }

  .entrar {
    width: 50%;
    height: 120;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  input {
    font-size: 3vw;
    height: 3vw;
    width: 30vw;
  }

  .header {
    font-size: 2vw;
  }

  a {
    font-size: 2vw;
  }

  .logo {
    width: 25vw;
    height: 25vw;
  }
}